:root {
  --tileWidth_Slim: 22rem;
  --tileWidth_Thick: 28rem;
  --tileHeight: 35rem;
  --tileBorderWidth: 0.6rem;
  --tileBorderRadius: 1rem;
  /* --tileBorderColor_Default: #b1b1b1;
  --tileBorderColor_Active: #626262;
  --backgroundColor: white; */
  --tileBorderColor_Default: #a6adc8;
  --tileBorderColor_Active: #6c7086;
  --backgroundColor: #181825;

  /*catppuccin colors*/
  /*
  --catppuccin-mocha-base: #181825;
  --catppuccin-mocha-surface0: #1e1e2e;
  --catppuccin-mocha-surface1: #262626;
  --catppuccin-mocha-surface2: #303446;

  */
}

body {
  margin: 0;
  overflow: hidden;
}

button {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--backgroundColor);
  border-style: solid;
  border-width: var(--tileBorderWidth);
  border-color: var(--tileBorderColor_Default);
  border-radius: var(--tileBorderRadius);
}

button.none {
  /*for search the svgs */
  background-color: transparent;
  border-style: none;
  border-width: 0px;
  border-radius: 0;
}

/* button.active {
  border-color: var(--tileBorderColor_Active);
} */

input {
  width: 100%;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--backgroundColor);
  border-style: solid;
  border-width: var(--tileBorderWidth);
  border-color: var(--tileBorderColor_Default);
  border-radius: var(--tileBorderRadius);
}

input.defaultText {
  box-sizing: border-box;
}

input[type="search"]:focus {
  border-color: var(--tileBorderColor_Active);
}

input[type="range"] {
  border: none;
  width: 10rem;
}

.tooltip {
  color: var(--tileBorderColor_Default);
}

.ability-transparency {
  background: var(--tileBorderColor_Default);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-glow {
  filter: drop-shadow(0 0 10px yellow);
}

.ice-glow {
  filter: drop-shadow(0 0 10px #4bc0ff);
}

.red-glow {
  filter: drop-shadow(0 0 10px #f44336);
}
