@import url(./fonts.css);

:root {
  --primary: #494949;
  --secondary: #626262;
  --tertiary: #b1b1b1;
}

.RPS-Title {
  font-family: "Almarai";
  font-weight: bold;
  font-size: 6rem;
  color: black;
}

.defaultText {
  font-family: "Almarai";
  font-weight: normal;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  color: var(--primary);
}

.labelText {
  font-family: "Almarai";
  font-weight: normal;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  color: var(--secondary);
}

.keyHints {
  font-family: "Almarai";
  font-weight: normal;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  color: var(--tertiary);
}
