html,
body,
#root {
  height: 100%;
}

input.login {
  position: relative;
  bottom: 5vh;
  z-index: 2;
  padding: 20px 40px 20px 40px;
  border: 6px solid red;
  border-radius: 10vh;
  font-size: 30px;
}

input.search {
  flex: 1;
  padding: 10px 60px 10px 60px;
  margin: 30px 10vh 0px 10vh;
  border: 6px solid red;
  border-radius: 10vh;
  font-size: 30px;
}

input[type="text"]:focus-visible {
  outline: none;
}

input[type="password"]:focus-visible {
  outline: none;
}

.topRow > div {
  letter-spacing: 15px;
  font-family: "ComicSans";
  font-size: 60px;
}

div.noHover:hover {
  pointer-events: none;
}

.scoreCards {
  width: 10%;
}

span.submittable {
  background-color: transparent;
}
