@font-face {
  font-family: ComicSans;
  src: url(fonts/ComicSansMS3.ttf);
}

.title {
  z-index: 1;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
  font-family: "ComicSans";
  font-size: 150px;
  color: #5d45c4;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
  pointer-events: none;
}

.secondary {
  letter-spacing: 10px;
  font-family: "ComicSans";
  font-size: 40px;
}

p.loginInputFieldName {
  text-align: center;
  position: relative;
  letter-spacing: 10px;
  font-family: "ComicSans";
  font-size: 60px;
  white-space: pre-wrap;
  bottom: 10%;
}

div.account-username {
  z-index: 1;
  position: absolute;
  letter-spacing: 10px;
  font-family: "ComicSans";
  font-size: 40px;
  padding: 30px;
}

div.gamemode-smalltext {
  position: absolute;
  z-index: 1;
  letter-spacing: 5px;
  font-family: "ComicSans";
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  color: white;
  pointer-events: none;
}

.arenaEmoji {
  font-size: 140px;
}

div.statsText {
  color: white;
  --stroke-color: black;
  --stroke-width: 5px;
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}
